server:
  port: 8080

logging:
  level:
    # Логирование для Hibernate
    org:
      hibernate:
        SQL: DEBUG                           # Логирование всех SQL-запросов
        type.descriptor.sql.BasicBinder: TRACE # Логирование привязанных параметров
        transaction: DEBUG                    # Логирование транзакций Hibernate
        engine: TRACE                         # Логирование внутренних процессов Hibernate

    # Логирование для вашего приложения
    searchengine:
      controllers: DEBUG                      # Логирование контроллеров
      services: DEBUG                         # Логирование сервисов
      repository: DEBUG                       # Логирование репозиториев
      model: DEBUG                            # Логирование моделей (сущностей)

    # Логирование для других библиотек
    com:
      zaxxer:
        hikari: DEBUG                         # Логирование пула соединений HikariCP
    liquibase: INFO                           # Логирование Liquibase (миграции)

  file:
    name: logs/application.log                # Сохранение логов в файл
  pattern:
    file: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"  # Формат логов в файле
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n" # Формат логов в консоли

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: 1111
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none  # Отключаем автоматическое создание таблиц через Hibernate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.xml  # Файл с миграциями

indexing-settings:
  userAgent: "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36"
  referrer: "http://www.google.com"
  sites:
    - url: https://sendel.ru
      name: sendel