openapi: 3.0.3
info:
  title: Спецификация API
  contact:
    email: daniel@gorbe.io
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 0.0.1

servers:
  - url: https://localhost:8080

tags:
  - name: "Индексация"
    description: "Отвечает за индексирование источников информации"

paths:
  /api/startIndexing:
    get:
      tags:
        - "Индексация"
      summary: "Запуск полной индексации"
      description: "Метод запускает полную индексацию всех сайтов или полную
переиндексацию, если они уже проиндексированы.

* Если в настоящий момент индексация или переиндексация уже
запущена, метод возвращает соответствующее сообщение об ошибке."

      responses:
        '200':
          description: "Успешное выполнение запроса"
          content:
            text/plain:
              schema:
                type: boolean
                example: true
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: boolean
                    example: true
        '400':
          description: "Ошибка в выполнении запроса (Bad Request)"
          content:
            text/plain:
              schema:
                type: boolean
                example: false
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: "Индексация уже запущена"
  /api/stopIndexing:
    get:
      tags:
        - "Индексация"
      summary: "Остановка текущей индексации"
      description: "Метод останавливает текущий процесс индексации (переиндексации).

  * Если в настоящий момент индексация или переиндексация не происходит,
  метод возвращает соответствующее сообщение об ошибке."

      responses:
        '200':
          description: "Успешное выполнение запроса"
          content:
            text/plain:
              schema:
                type: boolean
                example: true
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: boolean
                    example: true
        '400':
          description: "Ошибка в выполнении запроса (Bad Request)"
          content:
            text/plain:
              schema:
                type: boolean
                example: false
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: "Индексация не запущена"

  /api/indexPage:
    post:
      tags:
        - "Веб-страница"
      summary: "Добавление или обновление отдельной страницы"
      description: "Метод добавляет в индекс или обновляет отдельную страницу, адрес
  которой передан в параметре.

  * Если адрес страницы передан неверно, метод должен вернуть
  соответствующую ошибку."

      parameters:
        - name: url
          in: query
          description: "url — адрес страницы, которую нужно переиндексировать."
          required: false
          schema:
            type: string

      responses:
        '200':
          description: "Успешное выполнение запроса"
          content:
            text/plain:
              schema:
                type: boolean
                example: true
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: boolean
                    example: true

        '400':
          description: "Ошибка в выполнении запроса (Bad Request)"
          content:
            text/plain:
              schema:
                type: boolean
                example: false
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: "Данная страница находится за пределами сайтов, указанных в конфигурационном файле"


